<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.planner">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Excitivity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Planner">
        <activity
            android:name=".Display_Task"
            android:noHistory="true"/>
        <activity android:name=".Cooking" >
        </activity>
        <activity android:name=".CalendarActivity"></activity>
        <activity android:name=".Login.LogInActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Excitivity"
            android:theme="@style/Theme.Planner.NoActionBar" />
        <activity android:name=".Login.SignUpActivity" />
        <activity android:name=".ProgramsActivity"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>